<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StockControl.Properties.Settings.stockConnectionString"
            connectionString="Driver={MySQL ODBC 5.1 Driver};uid=root;database=stock;pwd=root"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>